/* Reset
/**********************************************************/
body {
  background: url(../image/blue/bg-body.jpg) repeat-x #03305C;
}
a,
a:link,
a:visited {
  color: #03305C;
}
a:focus,
a:hover,
a:active {
  color: #000;
}

pre,
div.code {
  border-left: 5px solid #03305C;
  color: #333;
}
blockquote {
}
.highlight {
  background: #03305C;
  color: #fff;
}
.typo-label {
  color: #fff;
  background: #03305C;
}

#zone-user-wrapper {
  background: #012E5A;  
}

h1.title {
  color: #03305C;
}
h2.block-title {
  color: #03305C;
}

.main-menu ul.nice-menu a {
  code: #03305C;
}

/* Blocks
/**********************************************************/
/* Block lastest News*/
.block-lastest-news .views-field-created,
.block-lastest-news .views-field-name {
  color: #17A1C8;
}
.block-lastest-news .views-field-view-node {
  background: #2576C7;
}
.view-list-articles .views-field-view-node a {
  background: #2576C7;
}


/* Block search */
.block-search .block-inner {
  background: #2476C6;
}

/*Block Corner*/
.block-corner .block-inner {
  background: #2476C6;
}

/* Block slideshow */
.block-slideshow .views-slideshow-controls-bottom .views-slideshow-pager-field-item {
  background: url(../image/blue/slideshow-li-bg.png);
   -moz-box-shadow: inset 3px 0px 5px 0px #165999;
  -webkit-box-shadow: inset 3px 0px 5px 0px #165999;
  box-shadow: inset 3px 0px 5px 0px #165999;
}
.block-slideshow .views-slideshow-controls-bottom .views-slideshow-pager-field-item.active {
  background: url(../image/blue/slideshow-li-bg-active.png) no-repeat left center;
  -moz-box-shadow: none;
  -webkit-box-shadow:none;
  box-shadow: none;
}

/*Block User login */
.block-user-login .block-inner button, 
.block-user-login .block-inner input[type="reset"], 
.block-user-login .block-inner input[type="submit"], 
.block-user-login .block-inner input[type="button"] {
  background: url(../image/blue/login-button.png);
  border-color: #375b7d;
}
