/* This file will hold styles that are loaded using the same media query as the narrow grid. */
/* If you are using the default media queries provided by Omega, these styles will also
 *  apply to the normal and widescreen layouts. You may override these styles in the normal 
 *  and widescreen CSS files as appropriate. */

/* Logo */
.branding-data {
  float: left;
}
.logo-img{
  float: left;
  clear: none;
}

/*------------------------------------*\
	NAVIGATIONS
\*------------------------------------*/
/* Main menu */
.zone-menu {
  background: url(../image/mainmenu-bg.png);
  -webkit-border-top-left-radius: 15px;
  -webkit-border-top-right-radius: 15px;
  -moz-border-radius-topleft: 15px;
  -moz-border-radius-topright: 15px;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
}
.block.main-menu {
  margin: 0;
}
.main-menu .block-inner {
  float: left;
}
.main-menu ul.nice-menu {
  float: none;
  margin-left: -10px;
}
.main-menu ul.nice-menu li,
.main-menu ul.nice-menu li.menuparent,
.main-menu ul.nice-menu li.menuparent:hover {
  margin: 0;
  padding:0 2px 0 1px;
  -webkit-border-radius: 0px;
  -moz-border-radius: 0px;
  border-radius: 0px;
  background: none;
  display: inline;
  float: left;
  background: url(../image/mainmenu-li-border.jpg) right top no-repeat;
}
.main-menu ul.nice-menu li.active-trail a,
.front .main-menu .menu-path-front a,
.main-menu ul.nice-menu li:hover a,
.main-menu ul.nice-menu li.menuparent.over a{
  -webkit-border-radius: 0px;
  -moz-border-radius: 0px;
  border-radius: 0px;
}
.main-menu ul.nice-menu li.first,
.main-menu ul.nice-menu li.first a,
.main-menu ul.nice-menu li.menuparent.first,
.main-menu ul.nice-menu li.menuparent.first:hover {
  -webkit-border-top-left-radius: 15px;
  -moz-border-radius-topleft: 15px;
  border-top-left-radius: 15px;
}
.main-menu ul.nice-menu a {
  padding: 15px;
}
.main-menu ul.nice-menu li ul {
  top: 46px;
}
.main-menu ul.nice-menu ul li,
.main-menu ul.nice-menu ul li.menuparent,
.main-menu ul.nice-menu ul li.menuparent:hover {
  padding: 0;
  background: none;
}
.main-menu ul.nice-menu ul ul {
  top: 0;
  left: 12.5em;
}

/*------------------------------------*\
	BLOG CSS
\*------------------------------------*/
/* Page blog */
.view-list-articles .views-field-field-image img {
  width: 105px;
  margin-right: 20px;
  margin-top:10px;
}
.view-list-articles .views-field-body {
  margin-top: 5px;
}
/* Node blog detail */
.node-article .field-name-field-image img {
  width: 160px;
  margin-right: 20px;
}

/*------------------------------------*\
	BLOCKS CSS
\*------------------------------------*/
/* Block Slide Show */
.block-slideshow .view-content {
  position: relative;
}
.block-slideshow .views-slideshow-cycle-main-frame {
  margin-top: 0;
  margin-left: -10px;
  width: 495px;
}
.block-slideshow .views-slideshow-cycle-main-frame .views-field-field-image img {
  width: 495px; 
}
.block-slideshow .views_slideshow_cycle_main{
  float: left;
}
.block-slideshow .views-slideshow-controls-bottom {
  position: absolute;
  top: 0;
  left: 485px;
  width: 225px;
}
.block-slideshow .views-slideshow-controls-bottom .views-slideshow-pager-field-item {
  height: 49px;
  overflow: hidden;
  padding: 0;
  margin-left: 0;
}
.block-slideshow .views-slideshow-controls-bottom .views-slideshow-pager-field-item.active {
  background: url(../image/slideshow-li-bg-active.png) no-repeat left center;
  margin-left: -16px;
}
.block-slideshow .views-slideshow-controls-bottom .views-slideshow-pager-field-item .views-field-title {
  padding-top: 5px;
}
.block-slideshow .views-slideshow-controls-bottom .views-slideshow-pager-field-item .views-field-title a,
.block-slideshow .views-slideshow-controls-bottom .views-slideshow-pager-field-item .views-content-body p {
  
}
.block-slideshow .views-slideshow-controls-bottom .views-slideshow-pager-field-item.active .views-field-title,
.block-slideshow .views-slideshow-controls-bottom .views-slideshow-pager-field-item.active .views-content-body {
  padding-left: 26px;
}

/* Block User Login */
.block-user-login .block-inner {
  text-align: right;  
}
.block.block-user-login {
  margin: 0;
}
.block-user-login .block-inner .form-item,
.block-user-login .block-inner .form-actions,
.block-user-login .block-inner .item-list {
  clear: none;
}
.block-user-login .block-inner .form-item,
.block-user-login .block-inner .form-actions {
  display: inline-block;
  margin-left: 10px;
}
.block-user-login .block-inner .item-list {
  float: right;
}
.block-user-login .block-inner .item-list ul li {
  margin: 0;
  float: left;
  clear: left;
}
#user-login-form {
  text-align: right;
}
.block-user-login .form-item,
.block-user-login .form-actions {
  margin:5px 0 0 0;
}

/* Block Donate Top */
.block-donate-top {
  float: right;
  margin-top: 20px;
}

/* Block search */
.block-search input.form-text {
  width: 185px;
}
.block-search input.form-submit {
  float: right;
  margin-top: 0;
}

/* Block logo footer */
.block-logo-footer .block-inner {
  text-align: left;
}

/* Block menu footer */
.block-menu-footer ul.menu {
  text-align: right;
}

/* Block Drupal Copyright */
.block-copyright  .block-inner {
  text-align: right;
}
