/* This file will hold styles that are loaded using the same media query as the wide grid. */

/*------------------------------------*\
	RESET CSS
\*------------------------------------*/
h1.title {
  font-size: 2.0em;
  line-height: 1;
}
h2.block-title {
  font-size: 1.6em;
  line-height: 1.5;
}


/*------------------------------------*\
	NAVIGATIONS
\*------------------------------------*/
.main-menu ul.nice-menu a {
  padding: 17px 35px;
}
.main-menu ul.nice-menu li ul {
  top: 50px;
}
.main-menu ul.nice-menu ul ul {
  top: 0;
  left: 12.5em;
}


/*------------------------------------*\
	BLOG CSS
\*------------------------------------*/
/* Block Lastest Blog */
.block-lastest-news .views-field-title {
  font-size: 1.2em;
}
.block-lastest-news .views-field-field-image,
.block-lastest-news .views-field-field-image img {
  width: 195px;
}

/* Page Blog */
.view-list-articles .views-field-field-image img {
  width: 205px;
}
.view-list-articles .views-field-title a {
  font-size: 1.2em;
}
.view-list-articles .views-row {
  margin-bottom: 20px;
  padding-bottom: 20px;
}

/* Blog detail */
.node-article .field-name-field-image img {
  width: 280px;
}


/*------------------------------------*\
	BLOCKS CSS
\*------------------------------------*/
/* Block search */
.block-search input.form-text {
  width: 230px;
  
  margin-left: 20px;
}
.block-search input.form-submit {
  margin-right: 20px;
}

/* Block Video */
.block-corner .block-inner {
  padding: 20px;
}

/* Block Slide show */
.block-slideshow .views-slideshow-cycle-main-frame {
  margin-top: 0;
  width: 825px;
  padding-left: -10px;
}
.block-slideshow .views-slideshow-cycle-main-frame .views-field-field-image,
.block-slideshow .views-slideshow-cycle-main-frame .views-field-field-image img {
  width: 825px; 
}
.block-slideshow .views-slideshow-controls-bottom {
  width: 375px;
  left: 815px;
}
.block-slideshow .views-slideshow-controls-bottom .views-slideshow-pager-field-item {
  height: 81px;
}
.block-slideshow .views-slideshow-controls-bottom .views-slideshow-pager-field-item .views-field-title {
  padding-top: 15px;
}