/* This file will hold styles that are loaded using the same media query as the normal grid. */
/* If you are using the default media queries provided by Omega, these styles will also
 *  apply to the widescreen layout unless they are overridden by the widescreen styles. */

/*------------------------------------*\
	RESET
\*------------------------------------*/
 .branding-data {
  float: left;
}
.logo-img{
  float: left;
  clear: none;
}
h1.title {
  font-size: 1.846em;
  line-height: 1;
}

/*------------------------------------*\
	NAVIGATIONS
\*------------------------------------*/
/* Main menu */
.main-menu ul.nice-menu a {
  padding: 15px 25px;
}
.main-menu ul.nice-menu li ul {
  top: 46px;
}
.main-menu ul.nice-menu ul ul {
  top: 0;
  left: 12.5em;
}

/* Block menu footer */
.block-menu-footer ul.menu {
  text-align: right;
}


/*------------------------------------*\
	BLOG CSS
\*------------------------------------*/
/* Block lastest news */
.block-lastest-news .views-row {
  margin-bottom: 20px;
  padding-bottom: 20px;
}
.block-lastest-news .views-field-title {
  font-size: 1.1em;
}

.block-lastest-news .views-field-field-image,
.block-lastest-news .views-field-field-image img {
  width: 150px;
}

/* Page blog */
.view-list-articles .views-field-field-image img {
  width: 160px;
  margin-right: 20px;
  margin-top:10px;
}
.view-list-articles .views-field-body {
  margin-top: 5px;
}
.view-list-articles .views-field-title a {
  font-size: 1.1em;
}

/* Node blog detail */
.node-article .field-name-field-image img {
  width: 220px;
  margin-right: 20px;
}


/*------------------------------------*\
	BLOCKS CSS
\*------------------------------------*/
/* Block Slide Show */
.block-slideshow .view-content {
  position: relative;
}
.block-slideshow .views-slideshow-cycle-main-frame {
  margin-top: 0;
  width: 660px;
  padding-left: -10px;
}
.block-slideshow .views-slideshow-cycle-main-frame .views-field-field-image,
.block-slideshow .views-slideshow-cycle-main-frame .views-field-field-image img {
  width: 660px; 
}
.block-slideshow  .views_slideshow_cycle_main{
  float: left;
}
.block-slideshow .views-slideshow-controls-bottom {
  position: absolute;
  top: 0;
  left: 650px;
  width: 300px;
}
.block-slideshow .views-slideshow-controls-bottom .views-slideshow-pager-field-item {
  height: 65px;
  padding: 0;
  padding-right: 10px;
  margin-left: 0;
}
.block-slideshow .views-slideshow-controls-bottom .views-slideshow-pager-field-item .views-field-title {
  padding-top: 10px;
}
.block-slideshow .views-slideshow-controls-bottom .views-slideshow-pager-field-item .views-field-title,
.block-slideshow .views-slideshow-controls-bottom .views-slideshow-pager-field-item .views-content-body {
  padding-left: 15px;
}
.block-slideshow .views-slideshow-controls-bottom .views-slideshow-pager-field-item.active {
  background: url(../image/slideshow-li-bg-active.png) no-repeat left center;
  margin-left: -16px;
}
.block-slideshow .views-slideshow-controls-bottom .views-slideshow-pager-field-item.active .views-field-title,
.block-slideshow .views-slideshow-controls-bottom .views-slideshow-pager-field-item.active .views-content-body {
  padding-left: 31px;
}

/* Block User Login */
 .block-user-login .block-inner {
  text-align: right;  
}
.block.block-user-login {
  margin: 0;
}
.block-user-login .block-inner .form-item,
.block-user-login .block-inner .form-actions,
.block-user-login .block-inner .item-list {
  clear: none;
}
.block-user-login .block-inner .form-item,
.block-user-login .block-inner .form-actions {
  display: inline-block;
  margin-left: 10px;
}
.block-user-login .block-inner .item-list {
  float: right;
}
.block-user-login .block-inner .item-list ul li {
  margin 0;
  float: left;
  clear: left;
}
#user-login-form {
  text-align: right;
}
.block-user-login .form-item,
.block-user-login .form-actions {
  margin:5px 0 0 0;
}

/* Block Donate Top */
.block-donate-top {
  float: right;
  margin-top: 20px;
}

/* Block search */
.block-search input.form-text {
  width: 170px;
}
.block-search input.form-submit {
  float: right;
  margin-top: 1em;
}

/* Block logo footer */
.block-logo-footer .block-inner {
  text-align: left;
}

/* Block copyright */
.block-copyright  .block-inner {
  text-align: right;
}