/* This file will hold styles for the mobile version of your website (mobile first). */
/* This also can include ANY global CSS that applies site-wide. Unless overwritten by a more specific style rule, CSS declarations in global.css will apply site-wide. */
/* This file will hold styles for the mobile version of your website (mobile first). */
/* This also can include ANY global CSS that applies site-wide. Unless overwritten by a more specific style rule, CSS declarations in global.css will apply site-wide. */

/*------------------------------------*\
	RESET
\*------------------------------------*/

body {
  margin: 0;
  padding: 0;
  font-size: 81.25%; /* 13px */
  line-height: 1.5;
  font-family: Helvetica,Arial,Verdana,"Bitstream Vera Sans",sans-serif;
  color: #666;
  background: url(../image/bg-body.jpg) repeat-x #03305C;
}
a,
a:link,
a:visited {
  color: #03305C;
  text-decoration: none;
}
a:focus,
a:hover,
a:active {
  color: #000;
  text-decoration: none;
}

h1, h2, h3, h4, h5 {
  font-family: 'Ubuntu', sans-serif;
}

/*--- HEADINGS ---*/
h1 {
  font-size: 1.846em;      /* 24px */
  margin-bottom: 1em;  /* 24px */
  line-height: 1;    /* 24px */
}
h2 {
  font-size: 1.4em;    /* 19.5px */
  margin-bottom: 1.3333em;    /* 24px */
  line-height: 1.3333;      /* 24px */
}
h3 {
  font-size: 1.25em;    /* 16.25 */
  margin-bottom: 1.477em;  /* 24px */
  line-height: 1.477;    /* 24px */
}
h4 {
  font-size: 1.125em;    /* 14.6px */
  margin-bottom: 1.64em;  /* 24px */
  line-height: 1.64;    /* 24px */
}
h5 {
  font-weight: bold;
}
h5,
h6 {
  font-size: 1em;      /* 16px */
  margin-bottom: 1.5em;  /* 24px */
  line-height: 1.5;    /* 24px */
}

pre,
div.code {
  border-left: 5px solid #03305C;
  background: #e6e5e1;
  color: #333;
  padding: 0.2em 10px;
}
blockquote {
  padding-left: 60px;
  background: url(../image/blockquote.png) 0 0 no-repeat;
}
.highlight {
  background: #03305C;
  color: #fff;
}
.typo-label {
  font-size: 1.4em;    /* 18px */
  margin-bottom: 1.333em;    /* 24px */
  line-height: 1.333;  
  padding: 0px 10px;
  color: #fff;
  background: #03305C;
  border: 0px solid #ebebeb;
}

/*------------------------------------*\
	Pages Background
\*------------------------------------*/

#zone-user-wrapper {
  background: #012E5A;  
}
#zone-branding-wrapper {
 
}
.zone-branding {
  
}
.branding-data {
  clear: none;
}
.zone-menu {
  
}
.zone-menu-wrapper {
}
.zone-header-wrapper {
  
}
.section-header { 
  
}
#zone-content-wrapper {
 
} 
#zone-content {
  background: #fff;
  padding-top: 30px;
  -webkit-border-bottom-right-radius: 10px;
  -webkit-border-bottom-left-radius: 10px;
  -moz-border-radius-bottomright: 10px;
  -moz-border-radius-bottomleft: 10px;
  border-bottom-right-radius: 10px;
  border-bottom-left-radius: 10px;
}
#zone-postscript-wrapper { 
 
} 
#zone-footer { 

}
#zone-footer-wrapper{
  padding-top: 20px;
}

/*------------------------------------*\
	Pages CSS
\*------------------------------------*/
/*
 * The skip-link link will be completely hidden until a user tabs to the link.
 * See the element-focusable rule in system.base.css.
 */
#skip-link a,
#skip-link a:visited {
}

/*
 * Header
 */
#logo /* Wrapping link for logo */ {
  padding: 0;
  text-align: center;
}

#logo img {
  vertical-align: bottom;
  text-align: center;
}
.logo-img{
  float: none;
  text-align: center;
  padding: 15px 0;
}
.site-name-slogan {  
}
h6.site-slogan {
  margin-bottom: 0;
}
#name-and-slogan /* Wrapper for website name and slogan */ {
  float: left;
}
h1#site-name,
div#site-name /* The name of the website */ {
  margin: 0;
  font-size: 1.4em;    /* 19.5px */
  line-height: 1.3333; 
}
#site-slogan /* The slogan (or tagline) of a website */ {
}

.breadcrumb /* The path to the current page in the form of a list of links */ {
  padding-bottom: 20px;
}
.breadcrumb a,
.breadcrumb a:link, .breadcrumb a:visited {
}

h2.node-title, /* Title of a piece of content when it is given in a list of content */
h2.block-title, /* Block title */
h2.title, /* Comment section heading */
h2.comment-form, /* Comment form heading */
h3.title /* Comment title */ {
  margin: 0;
}
/* Page and full node titles */
h1.title {
  color: #03305C;
  font-size: 1.8em;
  line-height: 1;
  font-family: 'Ubuntu', sans-serif;
}
table.no-border {
  margin: 0;
  width: 100%;
}
table.no-border tr,
table.no-border td {
  border: none;
  background: none;
  padding: 0;
}
thead th {
  background: #ddd;
}
tr: hover td,
tr.even: hover td.active,
tr.odd: hover td.active {
  background: none;
} 
tr.even /* Some tables have rows marked even or odd. */ {
  /* background-color: #eee; */ /* Drupal core uses a #eee background */
}

tr.odd {
  /* background-color: #eee; */ /* Drupal core uses a #eee background */
}

div.messages /* Important messages (status, warning, and error) for the user. See also the declarations in messages.css. */ {
  margin: 1.846em 0; /* Drupal core uses "6px 0" margin */
}

div.messages ul {
  margin-top: 0;
  margin-bottom: 0;
}

div.status /* Normal priority messages */ {
}

div.warning,
tr.warning /* Medium priority messages */ {
  /* border: 1px solid #f0c020; */ /* Drupal core uses: 1px solid #f0c020 */
}

div.error,
tr.error /* High priority messages. See also the .error declaration below. */ {
}

.error /* Errors that are separate from div.messages status messages. */ {
  /* color: #e55; */ /* Drupal core uses a #e55 background */
}

.warning /* Warnings that are separate from div.messages status messages. */ {
  /* color: #e09010; */ /* Drupal core uses a #e09010 background */
}

div.tabs /* See also the tabs.css file. */ {
}

.more-help-link /* Link to more help */ {
}


ul.links /* List of links */ {
}

ul.links.inline {
  display: block; /* Let the links be inline, but the container be a block. */
}

ul.links li {
  padding: 0 1em 0 0; /* LTR */
}
li.comment-add a,
li.comment-add a.active {
  font-weight: bold;
}
li.comment-add a:hover,
li.comment-add a.active: hover {
}

li.comment_forbidden {
  float: right;
}
.item-list .pager /* A list of page numbers when more than 1 page of content is available */ {
  text-align: right; 
}
.pager {
  
}
.item-list .pager li /* Each page number in the pager list */ {
  padding: 0; 
}
.item-list .pager li.pager-last /* Each page number in the pager list */ {
}
.item-list .pager-item {  
}
.item-list .pager .pager-current,
.item-list .pager li a {  
  
}
.item-list .pager .pager-current { 
 
}
.item-list .pager li a:hover,
.item-list .pager li a:focus,
.item-list .pager li a:active {
  color: #000; 
}
ul.pager a, 
ul.pager a:link, 
ul.pager a:visited, 
ul.pager li.pager-current {

}
ul.pager a, 
ul.pager li.pager-current {
   text-decoration: none;
}
.feed-icon /* The link to the RSS or Atom feed for the current list of content */ {
}

.more-link /* Aggregator, blog, and forum more link */ {
}
.more-link a {
  
}

/*------------------------------------*\
	NAVIGATION CSS
\*------------------------------------*/
/*
 * The active item in a Drupal menu
 */
li a.active {
 
}

/*
 * Navigation bar
 */
#navigation {
  /* overflow: hidden; /* Sometimes you want to prevent overlapping with main div. */
}

#navigation ul.links, /* Main menu and secondary menu links */
#navigation .content ul /* Menu block links */ {
  margin: 0;
  padding: 0;
  text-align: left; /* LTR */
}

#navigation ul.links li, /* A simple method to get navigation links to appear in one line. */
#navigation .content li {
  float: left; /* LTR */
  padding: 0 10px 0 0; /* LTR */
  list-style-type: none;
  list-style-image: none;
}


/*------------------------------------*\
	NAVIGATIONS
\*------------------------------------*/
/* Block menu Nice menu - Main Menu */
.main-menu .block-inner {
  text-align: center;
  z-index: 99;
}
.main-menu ul.nice-menu {
  float: none;
}
.main-menu ul.nice-menu a {
  color: #03305C;
  text-transform: uppercase;
  padding: 10px;
  font-weight: bold;
  font-family: 'Ubuntu', sans-serif;
}
.main-menu ul.nice-menu ul a {
  text-transform: none;;
  padding: 7px 10px;
  font-weight: normal;
  text-align: left;
}
.main-menu ul.nice-menu ul a {
  text-transform: none;
}
.main-menu ul.nice-menu a:hover,
.main-menu ul.nice-menu a:focus,
.main-menu ul.nice-menu a:active {
}
.main-menu ul.nice-menu {
  border: none;
  background: none;
  width: auto;
  text-align: center;
}
.main-menu ul.nice-menu li,
.main-menu ul.nice-menu li.menuparent,
.main-menu ul.nice-menu li.menuparent:hover {
  display: inline-block;
  width: auto;
  background: url(../image/mainmenu-bg.png) left center;
  border: none;
  padding: 0;
  float: none;
  margin-right: 5px;
  margin-bottom: 15px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  border-radius: 10px;
}
.main-menu ul.nice-menu ul li,
.main-menu ul.nice-menu ul  li.menuparent,
.main-menu ul.nice-menu ul li.menuparent:hover {
  background: none;
}
.main-menu ul.nice-menu ul li.last,
.main-menu ul.nice-menu ul li,
.main-menu ul.nice-menu ul li.hover,
.main-menu ul.nice-menu ul li.menuparent,
.main-menu ul.nice-menu ul li.menuparent:hover  {
  margin: 0;
  background: none;
  -webkit-border-radius: 0px;
  -moz-border-radius: 0px;
  border-radius: 0px;
  width: 100%;
  border-right: none;
}
.main-menu ul.nice-menu ul li,
.main-menu ul.nice-menu ul li.menuparent {
  border-bottom: #DADADA 1px solid;
}
.main-menu ul.nice-menu ul li.last,
.main-menu ul.nice-menu ul li.menuparent.last {
  border-bottom: none;
}
.main-menu ul.nice-menu li.active-trail a,
.front .main-menu .menu-path-front a,
.main-menu ul.nice-menu li:hover a,
.main-menu ul.nice-menu li.menuparent.over a {
  background: url(../image/mainmenu-active.jpg) left center;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  border-radius: 10px;
}
.main-menu ul.nice-menu  li.active-trail ul a,
.main-menu ul.nice-menu  li:hover ul a,
.main-menu ul.nice-menu  li.menuparent.over ul a,
.main-menu ul.nice-menu  li  ul a {
  background: none;
}
.main-menu ul.nice-menu ul li.active-trail,
.main-menu ul.nice-menu ul li:hover,
.main-menu ul.nice-menu ul li.menuparent.over {
  background: #cdcdcd;
  -webkit-border-radius: 0px;
  -moz-border-radius: 0px;
  border-radius: 0px;
}
.main-menu ul.nice-menu li ul { 
  background: url(../image/ul_level2_bg.png); 
  width: 12.5em;
  top: 36px;
  left: 0;
  border:none;;
}
.main-menu ul.nice-menu ul ul {
  top: 0;
  left: 12.5em;
}

/* Footer menu */
.block-menu-footer ul.menu{
  text-align: center;
}
.block-menu-footer ul.menu li.leaf {
  display: inline;
  list-style: none;
}
.block-menu-footer ul.menu li a {
  color: #fff;
  border-right: 1px solid #fff;
  margin: 0;
  padding: 0 12px 0 10px;
  font-weight: bold;
}
.block-menu-footer ul.menu li a:hover,
.block-menu-footer ul.menu li a:focus,
.block-menu-footer ul.menu li a:active {
  color: #fff;
}
.block-menu-footer ul.menu li {
  margin: 0;
  padding: 0;
}
.block-menu-footer ul.menu li.first a {
  padding-left: 0;
}
.block-menu-footer ul.menu li.last a {
  padding-right: 0px;
  border: none;
}

/* User menu */
.block-system-user-menu {
  width: 100%;
  margin-bottom: 10px;
}
.block-system-user-menu ul.menu {
  margin: 10px 0 0;
  padding: 0;
  text-align: center;
}
.block-system-user-menu ul.menu li {
  margin: 0;
  padding: 0;
  list-style: none;
  display: inline-block;
}
.block-system-user-menu ul.menu li a {
  display: block;
  padding: 0px 20px;
  color: #7ebe21;
  line-height: 1;
}
.block-system-user-menu ul.menu li a:hover,
.block-system-user-menu ul.menu li a.active {
  color: #fff;
}
.block-system-user-menu ul.menu li.last a {
  border: none;
}

/*------------------------------------*\
	NODES CSS
\*------------------------------------*/

.node /* Node wrapper */ {
}

.preview .node /* Preview of the content before submitting new or updated content */ {
  /* background-color: #ffffea; */ /* Drupal core uses a #ffffea background */
}

.node-promoted /* A node that has been promoted to the front page */ {
}

.node-sticky /* A sticky node (displayed before others in a list) */ {
}

.node-unpublished /* Unpublished nodes */ {
  /* background-color: #fff4f4; */ /* Drupal core uses a #fff4f4 background */
}

.node-unpublished div.unpublished,
.comment-unpublished div.unpublished /* The word "Unpublished" displayed underneath the content. */ {
  height: 0;
  overflow: visible;
  color: #d8d8d8;
  font-size: 4.6875em;
  line-height: 1;
  font-family: Impact, "Arial Narrow", Helvetica, sans-serif;
  font-weight: bold;
  text-transform: uppercase;
  text-align: center;
  word-wrap: break-word; /* A very nice CSS3 property */
}

.node-by-viewer /* A node created by the current user */ {
}

.node-teaser /* A node displayed as teaser */ {
}

/* All nodes are given a node-FOO class that describes the type of content that
 * it is. If you create a new content type called "my-custom-type", it will
 * receive a "node-my-custom-type" class.
 */
.node-page /* Page content node */ {
 
}

.node-article /* Article content node */ {
}

h2.node-title /* Node title */ {
}

.node .user-picture /* The picture of the node author */ {
}

.node .node-links {
}
.node-links ul li {
  
}
.node-links ul li a {
}
.node .submitted /* The "posted by" information */ {
  
}
.node .submitted a {
  
}
.node .content /* Node's content wrapper */ {
}

.node ul.links /* Node links. See also the ul.links declaration in the pages.css. */ {
  
}
.node img {
  
}

/*------------------------------------*\
	FIELDS CSS
\*------------------------------------*/

.field /* Wrapper for any field. */ {
}

/*
 * Field types (Core)
 */
.field-type-text {
}

.field-type-text-long {
}

.field-type-text-with-summary {
}

.field-type-image {
}

.field-type-file {
}

.field-type-taxonomy-term-reference {
}

.field-type-number-integer {
}

.field-type-number-decimal {
}

.field-type-number-float {
}

.field-type-list-text {
}

.field-type-list-boolean {
}

.field-type-list-integer {
}

.field-type-list-float {
}

/*
 * Field types (Contrib)
 */
.field-type-datetime /* Always use "datetime" when creating new CCK date fields. "date" and "datestamp" are legacy types. */ {
}

.field-type-node-reference {
}

.field-type-user-reference {
}


/*
 * Named fields
 */
.field-name-body {
}

.field-name-field-image {
}
.field-name-field-image img,
.views-field-field-image img {
}
.field-name-field-date ,
.field-name-field-location,
.field-name-field-price,
.field-name-field-contact {
  
}
.field-name-field-contact {
  
}
.field-name-field-tags .field-item {
  display: inline-block;
}

.field-name-field-FIELDNAME /* Underscores in field name are replaced with dashes. */ {
}


/*------------------------------------*\
	COMMENTS CSS
\*------------------------------------*/
#comments /* Wrapper for the list of comments and its title */ {
  margin: 0 0 1.5em 0;
}

#comments h2.title /* Heading for the list of comments */ {
  margin-bottom: 1.3333em;
}

#comments h2.comment-form /* Heading for the comment form */ {
}

.comment /* Wrapper for a single comment */ {
}
article.comment footer {
  color: #aaa;
  font-style: italic;
  padding-bottom: 10px;
}
.comment-preview /* Preview of the comment before submitting new or updated comment */ {
  background-color: #ffffea; /* Drupal core will use a #ffffea background. See #1110842 */
}

.comment.new /* A new comment since the user last viewed the page. */ {
}

.comment.first /* The first comment in the list of comments */ {
}

.comment.last /* The last comment in the list of comments */ {
}

.comment.odd /* An odd-numbered comment in the list of comments */ {
}

.comment.even /* An even-numbered comment in the list of comments */ {
}

.comment-unpublished /* Unpublished comments */ {
  /* background-color: #fff4f4; */ /* Drupal core uses a #fff4f4 background */
}

.comment-unpublished div.unpublished /* The word "Unpublished" displayed underneath the content. See also the div.unpublished declaration in the nodes.css. */ {
}

.comment-by-anonymous /* A comment created by an anonymous user */ {
}

.comment-by-node-author /* A comment created by the node's author */ {
}

.comment-by-viewer /* A comment created by the current user */ {
}

article.comment h3 /* Comment title */ {
  margin: 15px 0 10px;
}

.new /* "New" marker for comments that are new for the current user */ {
  color: #c00;
}

.comment .user-picture /* The picture of the comment author */ {
}

.comment .submitted /* The "posted by" information */ {
}

.comment .content /* Comment's content wrapper */ {
}

.comment .user-signature /* The user's signature */ {
}

.comment ul.links /* Comment links. See also the ul.links declaration in the pages.css. */ {
  margin-left: 0;
  margin-bottom: 10px;
  text-align: right;
}

.indented /* Nested comments are indented */ {
  /* margin-left: 25px; */ /* Drupal core uses a 25px left margin */
}

/*------------------------------------*\
	FORMS CSS
\*------------------------------------*/

.form-item /* Wrapper for a form element (or group of form elements) and its label */ {
  margin: 1em 0;
}

.form-item input.error,
.form-item textarea.error,
.form-item select.error /* Highlight the form elements that caused a form submission error */ {
  border: 1px solid #c00;
}

.form-item label /* The label for a form element */ {
  display: block;
  font-weight: bold;
}

.form-item label.option /* The label for a radio button or checkbox */ {
  display: inline;
  font-weight: normal;
}

.form-required /* The part of the label that indicates a required field */ {
  color: #c00;
}

.form-item .description /* The descriptive help text (separate from the label) */ {
  font-size: 0.85em;
}
input.form-checkbox, input.form-radio {
  margin-bottom: 2px;
  margin-right: 5px;
}
.form-checkboxes .form-item,
.form-radios .form-item /* Pack groups of checkboxes and radio buttons closer together */ {
  margin: 0; /* Drupal core uses "0.4em 0" */
}

textarea, select, input[type="date"], input[type="datetime"], input[type="datetime-local"], input[type="email"], input[type="month"], input[type="number"], input[type="password"], input[type="search"], input[type="tel"], input[type="text"], input[type="time"], input[type="url"], input[type="week"] {
  
}

/* Typography and backgrounds for all form buttons */
button, input[type="reset"], input[type="submit"], input[type="button"] {
  padding: 3px 10px;
  text-transform: uppercase;
  text-shadow: none;
  font-weight: normal;
  color: #fff;
  background: url(../image/bg-button.png);
  border: solid 1px #000;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px; 
  font-family: 'Ubuntu', sans-serif;
}
.form-actions input:hover {
  background: url(../image/bg-button-hover.png);
}
input.form-submit:hover {
  background: url(../image/bg-button-hover.png);
}

.container-inline div,
.container-inline label /* Inline labels and form divs */ {
  display: block;
}

.tips /* Tips for Drupal's input formats */ {
}


/*
 * Password confirmation
 */
.password-parent,
.confirm-parent {
  margin: 0;
}

/*
 * Drupal's default login form block
 */
#user-login-form {
  text-align: center; /* LTR */
  padding: 5px 0;
}

.captcha img {
  padding-left: 10px;
}

/*
 * OpenID
 *
 * The default styling for the OpenID login link seems to assume Garland's
 * styling of list items.
 */

#user-login-form ul /* OpenID creates a new ul above the login form's links. */ {
  margin-bottom: 0; /* Position OpenID's ul next to the rest of the links. */
}

html.js #user-login-form li.openid-link,
#user-login-form li.openid-link /* The "Log in using OpenID" link. */ {
  margin-top: 1.5em;
  margin-left: -20px; /* LTR */ /* Un-do some of the padding on the ul list. */
}

#user-login-form li.user-link /* The "Cancel OpenID login" link. */ {
  margin-top: 1.5em;
}

#user-login ul {
  margin: 1.5em 0;
}


/*
 * Drupal admin tables
 *
 * We overrode these styles in html-reset.css, but restore them for the admin
 * section of the site.
 */

form th {
  text-align: left; /* LTR */
  padding-right: 1em; /* LTR */
  border-bottom: 3px solid #ccc;
}

form tbody {
  border-top: 1px solid #ccc;
}

form tr.even {
  background-color: #fff;
}

form table .item-list ul {
  margin: 0;
}

/*------------------------------------*\
	BLOCKS CSS
\*------------------------------------*/
.block {
  margin-bottom: 1.5em;
}
.block.main-menu {
  margin-bottom: 0;
  margin-top: 15px;
}
h2.block-title {
  color: #03305C;
  font-size: 1.4em;
  line-height: 1.5;
  font-family: 'Ubuntu', sans-serif;
}

/* Blolck social icons */
.block-social-icons .block-inner {
  border: solid #ccc 7px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  border-radius: 10px;
  padding: 10px;
  -moz-box-shadow: inset 0 0 30px #ccc;
   -webkit-box-shadow: inset 0 0 30px #ccc;
   box-shadow: inset 0 0 30px #ccc;
}
.block-social-icons h2 {
  color: #03305C;
  margin-bottom: 0.5em;
}
.block-social-icons td.rtecenter {
  text-align: center;
}

/* Block search */
.block-search .block-inner {
  background: #2476C6;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  border-radius: 10px;
}
.block-search input.form-text {
  width: 170px;
  margin-left: 10px;
}
.block-search .form-item,
.block-search input.form-submit {
  float: left;
}
.block-search input.form-submit {
  margin: 1em;
  padding: 3px 10px;
  text-transform: uppercase;
  text-shadow: none;
  font-weight: normal;
  color: #fff;
  background: url(../image/bg-button.png);
  border: solid 1px #000;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
}
.block-search input.form-submit:hover {
  background: url(../image/bg-button-hover.png);
}

/* Block Corner */
.block-corner .block-inner {
  background: #2476C6;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  border-radius: 10px;
  padding: 10px;
  color: #fff;
}
.block-corner .block-inner h2 {
  color: #fff;
  margin-bottom: 10px;
}

/* Block slideshow */
.block.block-slideshow {
  margin-bottom: 0;
  position: relative;
  z-index: 1;
}
.block-slideshow .block-inner {
  width: 100%;
}
.block-slideshow .views-slideshow-cycle-main-frame .views-field-field-image {
  width: 100%; 
}
.block-slideshow .views-slideshow-cycle-main-frame .views-field-body {
  font-size: 1em;
  line-height: 1.5;
}
.block-slideshow .views-slideshow-cycle-main-frame {
  margin-top: 20px;
}
.block-slideshow .views_slideshow_cycle_main {
  z-index: 30;
}
.block-slideshow .views-slideshow-cycle-main-frame .views-field-field-image img {
  width: 100%;
  float: left;
}
.block-slideshow .views-slideshow-cycle-main-frame .views-field-body {
   padding-top: 10px;
}
.block-slideshow .views-slideshow-controls-bottom {
  color: #fff;
  z-index: 99;
}
.block-slideshow .views-slideshow-controls-bottom  a {
  color: #fff;
  font-weight: bold;
}
.block-slideshow .views-slideshow-controls-bottom .views-slideshow-pager-field-item {
  background: url(../image/slideshow-li-bg.png);
  padding: 1px;
  padding-right: 10px;
  margin-left: 16px;
  -moz-box-shadow: inset 3px 0px 5px 0px #165999;
  -webkit-box-shadow: inset 3px 0px 5px 0px #165999;
  box-shadow: inset 3px 0px 5px 0px #165999;
}
.block-slideshow .views-slideshow-controls-bottom .views-slideshow-pager-field-item .views-field-title,
.block-slideshow .views-slideshow-controls-bottom .views-slideshow-pager-field-item .views-content-body {
  padding-left: 10px;
}
.block-slideshow .views-slideshow-controls-bottom .views-slideshow-pager-field-item .views-field-title {
  padding-top: 10px;
  font-family: 'Ubuntu', sans-serif;
}
.block-slideshow .views-slideshow-controls-bottom .views-slideshow-pager-field-item.active {
  z-index: 99;
  margin-left: 0;
  -moz-box-shadow: none;
  -webkit-box-shadow:none;
  box-shadow: none;
}
.block-slideshow .views-slideshow-controls-bottom .views-slideshow-pager-field-item.active .views-field-title,
.block-slideshow .views-slideshow-controls-bottom .views-slideshow-pager-field-item.active .views-content-body{
  padding-left: 26px;
}

/* Contact form */
.contact-form .form-item {
  padding: 10px 10px;
  margin: 0;
  float: left;
  width: 90%;
}
.contact-form .form-item:hover,
.contact-form .form-item:active {
}
.contact-form .form-actions {
  margin-left: 10px;
}

/* Block Copyright */
.block-copyright .block-inner {
  text-align: center;
  color: #fff;
}
.block-copyright .block-inner a {
  color: #fff;
}

/* Block Newsletter */
.block-simplenews .block-inner {
  background: #2476C6;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  border-radius: 10px;
  padding: 10px;
  color: #fff;
}
.block-simplenews h2.block-title {
  color: #fff;
  margin-bottom: 10px;
}
.block-simplenews .content input.form-text {
  width: 100%;
  background: #ededed;
  padding-left: 10px;
  color: #808080;
  border: 1px solid #c9c9c9;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  height: 30px;
}
.block-simplenews .content input.form-submit {
  float: right;
}
.block-simplenews .prefix {
  margin-bottom: 15px;
}

/* Block Logo footer */
.block-logo-footer .block-inner {
  text-align: center;
}

/* Block User login */
.block-user-login .block-inner {
  text-align: center;
}
.block-user-login .block-inner .form-item,
.block-user-login .block-inner .form-actions,
.block-user-login .block-inner .item-list {
  clear: both;
}
.block-user-login .block-inner button, 
.block-user-login .block-inner input[type="reset"], 
.block-user-login .block-inner input[type="submit"], 
.block-user-login .block-inner input[type="button"] {
  background: url(../image/login-button.png);
  border-color: #375b7d;
}
.block-user-login .block-inner .item-list a {
  color: #fff;
}

/* Block Donate Top */
.block-donate-top .content {
  text-align: center;
  margin: 0;
}
.block-donate-top .content p {
  margin: 0;
}


/*------------------------------------*\
	BLOG CSS
\*------------------------------------*/
/* Block lastest news */
.block-lastest-news .block-inner h2.block-title {
  margin-bottom: 10px;
  font-weight: bold;
}
.block-lastest-news .views-row {
  border-bottom: 1px dashed #999;
  margin-bottom: 10px;
  padding-bottom: 10px;
  float: left;
}
.block-lastest-news .views-field-title {
  font-size: 1em;
  padding-bottom: 5px;
  font-weight: bold;
  font-family: 'Ubuntu', sans-serif;
}
.block-lastest-news .views-field-created,
.block-lastest-news .views-field-name {
  color: #17A1C8;
  font-style: italic;
  font-weight: bold;
  float: left;
  padding-right: 10px;
  padding-bottom: 10px;
}

.block-lastest-news .views-field-field-image {
  float: left;
  width: 100px;
  margin-right: 20px;
  clear: left;
}
.block-lastest-news .views-field-body {
  margin-top: 30px;
}
.block-lastest-news .views-field-view-node {
  float: right;
  background: #2576C7;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  padding: 1px 10px;
  font-family: 'Ubuntu', sans-serif;
}
.block-lastest-news .views-field-view-node a {
  color: #fff;
}

/* Page Blog */
.view-list-articles .views-field-created,
.view-list-articles .views-field-name,
.view-list-articles .views-field-comment-count {
  margin-bottom: 5px;
  font-style: italic;
  color: #666;
}
.view-list-articles .views-row {
  border-bottom: 1px dashed #999;
  margin-bottom: 10px;
  padding-bottom: 10px;
  float: left;
}
.view-list-articles .views-field-body {
}
.view-list-articles .views-field-title a {
  font-size: 1.1em;
  line-height: 1; 
  font-weight: bold;
  font-family: 'Ubuntu', sans-serif;
}

.view-list-articles .views-field-field-image img {
  margin: 5px 10px 0 0;
  float: left;
  width: 100px;
}
.view-list-articles .views-field-view-node a {
  float: right;
  background: #2576C7;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  padding: 1px 10px;
  color: #fff;
  font-family: 'Ubuntu', sans-serif;
}
.view-list-articles .views-field-view-node a:hover,
.view-list-articles .views-field-view-node a:focus {
 }

/* Blog detail  */
.node-type-article h1.title {
  margin-bottom: 10px;
}
.node-article .submitted {
  margin-bottom: 10px;
  color: #666;
  font-style: italic;
}
.node-article .field-name-field-image img {
  float: left;
  margin-right: 10px;
  width: 100px;
}


/*------------------------------------*\
	SYSTEM TABS
\*------------------------------------*/
.tabs {
}
.tabs ul.primary {
  padding: 0 10px;
  margin: 20px 0;
  overflow: hidden;
  border: none;
  background: transparent url(../images/tabs-border.png) repeat-x left bottom;
}
.tabs ul.primary li {
  display: block;
  float: left; /* LTR */
  vertical-align: bottom;
  margin: 0 5px 0 0; /* LTR */
}
.tabs ul.primary li a {
  color: #333;
  background: #F1ECE3;
  border: 1px solid #CEC9BB;
  height: 1.8em;
  line-height: 1.9;
  display: block;
  font-size: 0.929em;
  float: left; /* not LTR */
  padding: 3px 10px 5px;
  margin: 0;
}
.tabs ul.primary li.active a,
.tabs ul.primary li a:hover {
  background: #fff;
  color: #333;
  border: 1px solid #CEC9BB;
  border-bottom: 1px solid #fff;
}
.tabs ul.secondary {
  border-bottom: none;
  padding: 0.5em 0;
}
.tabs ul.secondary li {
  display: block;
  float: left; /* LTR */
}
.tabs ul.secondary li:last-child {
  border-right: none; /* LTR */
}
.tabs ul.secondary li:first-child {
  padding-left: 0; /* LTR */
}
.tabs ul.secondary li a {
  padding: 0.25em 0.5em;
}
.tabs ul.secondary li a.active {
  background: #f2f2f2;
  border-bottom: none;
}
