/* Reset
/**********************************************************/
body {
  background: url(../image/green/bg-body.jpg) repeat-x #7BA326;
}
a,
a:link,
a:visited {
  color: #024E13;
}
a:focus,
a:hover,
a:active {
  color: #000;
}

pre,
div.code {
  border-left: 5px solid #024E13;
  color: #333;
}
blockquote {
}
.highlight {
  background: #024E13;
  color: #fff;
}
.typo-label {
  color: #fff;
  background: #024E13;
}
#zone-user-wrapper {
  background: #024E13;  
}
h1.title {
  color: #024E13;
}
h2.block-title {
  color: #024E13;
}
.main-menu ul.nice-menu a {
  color: #024E13;
}

/* Blocks
/**********************************************************/
/* Block Lastest News*/
.block-lastest-news .views-field-created,
.block-lastest-news .views-field-name {
  color: #CC5216;
}
.block-lastest-news .views-field-view-node {
  background: #024E13;
}
.view-list-articles .views-field-view-node a {
  background: #024E13;
}

/* Block search */
.block-search .block-inner {
  background: #A3C03D;
}

/* Block Corner*/
.block-corner .block-inner {
  background: #A3C03D;
}

/* Block slideshow */
.block-slideshow .views-slideshow-controls-bottom .views-slideshow-pager-field-item {
  background: url(../image/green/slideshow-li-bg.png);
  -moz-box-shadow: inset 3px 0px 5px 0px #054711;
  -webkit-box-shadow: inset 3px 0px 5px 0px #054711;
  box-shadow: inset 3px 0px 5px 0px #054711;
}
.block-slideshow .views-slideshow-controls-bottom .views-slideshow-pager-field-item.active {
  background: url(../image/green/slideshow-li-bg-active.png) no-repeat left center;
  -moz-box-shadow: none;
  -webkit-box-shadow:none;
  box-shadow: none;
}

/ *Block User login */
.block-user-login .block-inner button, 
.block-user-login .block-inner input[type="reset"], 
.block-user-login .block-inner input[type="submit"], 
.block-user-login .block-inner input[type="button"] {
  background: url(../image/green/login-button.jpg);
  border-color: #375b7d;
}