/* Reset
/**********************************************************/
body {
  background: url(../image/red/bg-body.jpg) repeat-x #5C0311;
}
a,
a:link,
a:visited {
  color: #A70527;
}
a:focus,
a:hover,
a:active {
  color: #000;
}

pre,
div.code {
  border-left: 5px solid #A70527;
  color: #333;
}
blockquote {
}
.highlight {
  background: #A70527;
  color: #fff;
}
.typo-label {
  color: #fff;
  background: #A70527;
}

#zone-user-wrapper {
  background: #50000F;  
}
button, input[type="reset"], input[type="submit"], input[type="button"] {
  background: url(../image/red/bg-button.png) center left;
  border-color: #7a051d;
}
.form-actions input:hover {
  background: url(../image/red/bg-button-hover.png) center left;
}
input.form-submit:hover {
  background: url(../image/red/bg-button-hover.png) center left;
}
h1.title {
  color: #A70527;
}
h2.block-title {
  color: #A70527;
}
.main-menu ul.nice-menu a {
  color: #A70527;
}

/* Blocks
/**********************************************************/
/* Block Lastest News */
.block-lastest-news .views-field-created,
.block-lastest-news .views-field-name {
  color: #CC5216;
}
.block-lastest-news .views-field-view-node {
  background: #A70527;
}
.view-list-articles .views-field-view-node a {
  background: #A70527;
}

/* Block search */
.block-search .block-inner {
  background: #A70527;
}
.block-search input.form-submit {
  background: url(../image/red/bg-button.png) center left;
  border-color: #7a051d;
}
.block-search input.form-submit:hover {
  background: url(../image/red/bg-button-hover.png) center left;
}

/*Block Corner*/
.block-corner .block-inner {
  background: #A70527;
}

/* Block slideshow */
.block-slideshow .views-slideshow-controls-bottom .views-slideshow-pager-field-item {
  background: url(../image/red/slideshow-li-bg.png);
  -moz-box-shadow: inset 3px 0px 5px 0px #9a1b06;
  -webkit-box-shadow: inset 3px 0px 5px 0px #9a1b06;
  box-shadow: inset 3px 0px 5px 0px #9a1b06;
}
.block-slideshow .views-slideshow-controls-bottom .views-slideshow-pager-field-item.active {
  background: url(../image/red/slideshow-li-bg-active.png) no-repeat left center;
  -moz-box-shadow: none;
  -webkit-box-shadow:none;
  box-shadow: none;
}

/*Block User login */
.block-user-login .block-inner button, 
.block-user-login .block-inner input[type="reset"], 
.block-user-login .block-inner input[type="submit"], 
.block-user-login .block-inner input[type="button"] {
  background: url(../image/red/login-button.jpg);
  border-color: #A70527;
}
